/* nextflow config file with input and other parameters */

params {
    config_profile_name = "rnaseq pipeline profile"
    config_profile_description = 'rnaseq pipeline profile with checking function'
}

// resource settings 
max_cpus = 6
max_memory = '24.GB'
max_time = '6.h'

// input 
input = 'sample_sheet_file'

// genome references
    fasta              = "./reference/genome.fasta"
    gtf                = "./reference/genes.gtf.gz"
    gff                = "./reference/genes.gff.gz"
    transcript_fasta   = "./reference/transcriptome.fasta"
    additional_fasta   = "./reference/gfp.fa.gz"

    bbsplit_fasta_list = "./reference/bbsplit_fasta_list.txt"
    salmon_index       = "./reference/salmon.tar.gz"
    rsem_index         = "./reference/rsem.tar.gz"

    // Other parameters
    skip_bbsplit        = false
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'
}

// When using RSEM, remove warning from STAR whilst building tiny indices
process {
    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args2 = "--genomeSAindexNbases 7"
    }
}
